body {
  background-image: url('/dowunloads/nextGen.png'), 
                    radial-gradient(circle, white, lightblue);

  background-repeat: no-repeat, repeat;
  
    background-position: center, center;
  
    background-size: auto, cover; 
  
    background-color: lightblue;
  
  height: 100vh;
  margin: 0;
}

